name: PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: write
  pull-requests: write

jobs:
  should_build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          # linux/amd64 supports all x86 CPUs
          # linux/amd64/v2 supports x86 CPUs from 2010+
          # linux/amd64/v3 supports x86 CPUs from 2015+
          # https://en.wikipedia.org/wiki/X86-64#Microarchitecture_levels
          platforms: linux/amd64,linux/amd64/v2,linux/amd64/v3,linux/arm64
          pull: true

  dependabot:
    name: "Dependabot auto-merge"
    needs: [should_build]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'}} # Detect that the PR author is dependabot
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
